{% extends "AdminBundle::base.html.twig" %}

{% block title %}Admin - Categories{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Update" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_menu_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
